#divback{
    background-image: url(pics/blurredSky.jpg);
}

#temp{
    text-align: center;
    color: white;
}
#descript{
    text-align: center;
}
#humid{
    text-align: center;
}
.angular-google-map-container {
        height: 400px;
}